java_project/config_files
*.ini
/servers
java_to_mongo_mqtt/CloudToMongo_*/
java_project/CloudToMongo*/
java_mqtt/SimulateSensor*/
java_mqtt/ReceiveCloud*/
java_project/paho*
java_project/SimulateSensor*
php_code/constants.php

